@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --card-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
    --card-background: #1f2937;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.dark body {
  color: var(--foreground);
  background: var(--background);
}
