@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition: colors 200ms;
}

body {
  background-color: theme('colors.background.DEFAULT');
  color: theme('colors.foreground.DEFAULT');
}

.dark body {
  background-color: theme('colors.background.dark');
  color: theme('colors.foreground.dark');
}
